body {
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  margin: 0 auto 0 auto;
  font-style: normal;
  font-weight: 40;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* Header styles*/
.logo,
.logo-f {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.web-st {
  color: #2e2f42;
}

.web-st-f {
  color: #f4f4fd;
}
.line-nav {
  color: #2e2f42;
}
.line-nav:hover,
.line-nav:focus {
  color: #404bbf;
}
.nav-st {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
}

.header-address-st a {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
}
.header-address-st a:hover,
.header-address-st a:focus {
  color: #404bbf;
}

/* Main styles */
/* Section 1 */
.hero-image-st {
  background-color: #2e2f42;
  /* height: 600px; */

  padding: 188px 472px 292px 472px;
  margin: 0;
}
.hero-image-h1-st {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  width: 496px;
  margin: 0;
  padding: 0;
}
.hero-image-button-st {
  margin: 48px auto 0 164px;
  color: var(--white, #fff);
  text-align: center;
  padding: 0;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.our-metods-st li h3 {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  width: 264px;
}
.our-metods-st li p {
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.32px;
  width: 264px;
}
.our-team-st {
  background: var(--cloud, #f4f4fd);
  /* width: 1440px; */
  /* height: 732px; */
  /* flex-shrink: 0; */
}
.our-team-st h2 {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-top: 120px;
}
.our-team-st li {
  width: 264px;
  height: 348px;
  padding-bottom: 120px;
}
.our-team-st ul li h3 {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.our-team-st ul li p {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.32px;
}
.our-portfolio-names {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.our-portfolio-type {
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.32px;
}
.footer-st {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
  /* padding: 101.5px 1020px 100px 156px; */
}
.foot-text-st {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.32px;
  width: 264px;
}
.logo-sect {
  padding-top: 101.5px;
  padding-left: 156px;
  width: 264px;
}
